.comment-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .w3-third {
        width: 100%;
        margin: 0;
    }
}
