<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <title>Atlas</title>
  <link rel="stylesheet" href="/home-style.css">
</head>
<body>
<div class="topnavbar">
  <ul class="snip1143">
    <li class="current"><a href="/" data-hover="Home">Home</a></li>
    <li><a href="/post" data-hover="Posts">Posts</a></li>
    <li><a href="/login" data-hover="Login">entrar</a></li>
    <li><a href="/filter" data-hover="Filtros">Buscar</a></li>
  </ul>
</div>
<div class="ATLAS">
  <div class="content">
    <div id="regions_div"></div>
  </div>
</div>
<footer id="footer">
  <small>
    Copyright © 2023 Atlas. All Rights Reserved.
  </small>
</footer>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    callback: function () {
      fetch('https://restcountries.com/v3.1/all?fields=name,flags,capital,population,currencies,languages,continents')
              .then(response => response.json())
              .then(data => {
                var dataArray = [];
                dataArray.push(['Country', 'Value', {role: 'tooltip', p:{html:true}}])
                data.forEach(country => {
                    var flagUrl = country.flags.png;
                    var officialName = country.name.official;
                    var commonName = country.name.common;

                    var population = country.population;
                    var capital = country.capital[0];
                    var languages = Object.values(country.languages).join(', ');
                    var currencies = Object.keys(country.currencies).join(', ');

                    //CZECH REPUBLIC
                    dataArray.push(["Czech Republic", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/cz.png" + '" alt="Flag of ' + "Czech Republic" + '">' +
                    '<p>Official Name: ' + "Czech Republic" + '</p>' +
                    '<p>Population: ' + 10698896 + '</p>' +
                    '<p>Capital: ' + "Prague" + '</p>' +
                    '<p>Languages: ' + "Czech, Slovak" + '</p>' +
                    '<p>Currencies: ' + "CZK" + '</p>']);


                    // NORTH MACEDONIA
                    dataArray.push(["MK", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/cz.png" + '" alt="Flag of ' + "Republic of North Macedonia" + '">' +
                    '<p>Official Name: ' + "Republic of North Macedonia" + '</p>' +
                    '<p>Population: ' + 2077132 + '</p>' +
                    '<p>Capital: ' + "Skopje" + '</p>' +
                    '<p>Languages: ' + "Macedonian" + '</p>' +
                    '<p>Currencies: ' + "MKD" + '</p>']);


                    //  DEMOCRATIC REPUBLIC OF THE CONGO
                    dataArray.push(["CD", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/cd.png" + '" alt="Flag of ' + "Democratic Republic of the Congo" + '">' +
                    '<p>Official Name: ' + "Democratic Republic of the Congo" + '</p>' +
                    '<p>Population: ' + 108407721 + '</p>' +
                    '<p>Capital: ' + "Kinshasa" + '</p>' +
                    '<p>Languages: ' + "French" + '</p>' +
                    '<p>Currencies: ' + "CDF" + '</p>']);


                    // REPUBLIC OF CONGO
                    dataArray.push(["CG", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/cg.png" + '" alt="Flag of ' + "Republic of the Congo" + '">' +
                    '<p>Official Name: ' + "Republic of the Congo" + '</p>' +
                    '<p>Population: ' + 5657000 + '</p>' +
                    '<p>Capital: ' + "Brazzaville" + '</p>' +
                    '<p>Languages: ' + "French" + '</p>' +
                    '<p>Currencies: ' + "XAF" + '</p>']);

                  // SOUTH SUDAN
                  dataArray.push(["SS", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/ss.png" + '" alt="Flag of ' + "Republic of South Sudan" + '">' +
                  '<p>Official Name: ' + "Republic of South Sudan" + '</p>' +
                  '<p>Population: ' + 11193729 + '</p>' +
                  '<p>Capital: ' + "Juba" + '</p>' +
                  '<p>Languages: ' + "English" + '</p>' +
                  '<p>Currencies: ' + "SSP" + '</p>']);


                  // KOSOVO
                  dataArray.push(["XK", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/xk.png" + '" alt="Flag of ' + "Republic of Kosovo" + '">' +
                  '<p>Official Name: ' + "Republic of Kosovo" + '</p>' +
                  '<p>Population: ' + 1775378 + '</p>' +
                  '<p>Capital: ' + "Pristina" + '</p>' +
                  '<p>Languages: ' + "Albanian, Serbian" + '</p>' +
                  '<p>Currencies: ' + "EUR" + '</p>']);



                  //ESWATINI
                  dataArray.push(["SZ", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/sz.png" + '" alt="Flag of ' + "Kingdom of Eswatini" + '">' +
                  '<p>Official Name: ' + "Kingdom of Eswatini" + '</p>' +
                  '<p>Population: ' + 1160164 + '</p>' +
                  '<p>Capital: ' + "Mbabane" + '</p>' +
                  '<p>Languages: ' + "English" + '</p>' +
                  '<p>Currencies: ' + "SZL" + '</p>']);


                  // TIMOR LESTE
                  dataArray.push(["TL", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/tl.png" + '" alt="Flag of ' + "Democratic Republic of Timor-Leste" + '">' +
                  '<p>Official Name: ' + "Democratic Republic of Timor-Leste" + '</p>' +
                  '<p>Population: ' + 1318442 + '</p>' +
                  '<p>Capital: ' + "Dili" + '</p>' +
                  '<p>Languages: ' + "Portuguese" + '</p>' +
                  '<p>Currencies: ' + "USD" + '</p>']);

                  //Réunion Island
                  dataArray.push(["RE", 200, '<img width="75%" height="75%" src="' + "https://flagcdn.com/w320/re.png" + '" alt="Flag of ' + "Réunion Island" + '">' +
                  '<p>Official Name: ' + "Réunion Island" + '</p>' +
                  '<p>Population: ' + 840974 + '</p>' +
                  '<p>Capital: ' + "Saint-Denis" + '</p>' +
                  '<p>Languages: ' + "French" + '</p>' +
                  '<p>Currencies: ' + "EUR" + '</p>']);





                  var tooltipContent = '<img width="75%" height="75%" src="' + flagUrl + '" alt="Flag of ' + officialName + '">' +
                            '<p>Official Name: ' + officialName + '</p>' +
                            '<p>Population: ' + population + '</p>' +
                            '<p>Capital: ' + capital + '</p>' +
                            '<p>Languages: ' + languages + '</p>' +
                            '<p>Currencies: ' + currencies + '</p>';

                    dataArray.push([commonName, 200, tooltipContent]);
                });

                var data = google.visualization.arrayToDataTable(dataArray);
                var view = new google.visualization.DataView(data);

                var selectedCountry = null;
                var options = {
                  region: 'world',
                  colorAxis: { colors: ['blue', '#318f34'] },
                  backgroundColor: '#81d4fa',
                  datalessRegionColor: 'white',
                  defaultColor: '#f5f5f5',
                  enableRegionInteractivity: true,
                  tooltip: {
                    isHtml: true,
                    textStyle: { fontSize: 15, color: 'black', fontName: 'Arial' },
                    trigger: 'focus',
                    opacity: 0.9,
                    borderColor: 'crimson',
                    borderRadius: 5,
                    showColorCode: false,
                    showTitle: true,
                    titleTextStyle: { fontSize: 16, color: 'blue', fontName: 'Arial' },
                  },
                };

                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                function resizeChart() {
                  chart.draw(view, options);
                }

                google.visualization.events.addListener(chart, 'regionClick', function (eventData) {
                  var clickedRegion = eventData.region;

                  if (selectedCountry === clickedRegion) {
                    selectedCountry = null;
                    options.region = 'world';
                  } else {
                    selectedCountry = clickedRegion;
                    options.region = clickedRegion;
                  }
                  resizeChart();
                });

                if (window.addEventListener) {
                  window.addEventListener('resize', resizeChart);
                } else if (window.attachEvent) {
                  window.attachEvent('onresize', resizeChart);
                }

                resizeChart();
              });
    },
    packages: ['geochart']
  });

</script>
</body>
</html>