<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Atlas</title>
  <link rel="stylesheet" href="/home-style.css">
</head>
<body>
<div class="topnavbar">
  <ul class="snip1143">
    <li class="current"><a href="home" data-hover="Home">Home</a></li>
    <li><a href="tutorial" data-hover="Tutorial">Como usar</a></li>
    <li><a href="post" data-hover="Posts">Posts</a></li>
    <li><a href="login" data-hover="Login">entrar</a></li>
    <li><a href="filter" data-hover="Filtros">Buscar</a></li>
  </ul>
</div>
<div class="ATLAS">
  <div class="content">
    <div id="regions_div"></div>
  </div>
</div>
<footer id="footer">
  <small>
    Copyright © 2023 Atlas. All Rights Reserved.
  </small>
</footer>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    callback: function () {
      var data = google.visualization.arrayToDataTable([
        ['Country', 'Popularity', 'Domain', 'Tooltip'], // Add 'Tooltip' column
        ['England', 400, 'www.example.com/England', '<div><img src="england.jpg" alt="England" width="100"><br>England</div>'],
        ['Wales', 300, 'www.example.com/Wales', '<div><img src="wales.jpg" alt="Wales" width="100"><br>Wales</div>'],
        ['Scotland', 400, 'www.example.com/Scotland', '<div><img src="scotland.jpg" alt="Scotland" width="100"><br>Scotland</div>'],
        ['Ireland', 600, 'www.example.com/Ireland', '<div><img src="ireland.jpg" alt="Ireland" width="100"><br>Ireland</div>'],
        ['Brazil', 400, 'www.example.com/Brazil', '<div><img src="brazil.jpg" alt="Brazil" width="100"><br>Brazil</div>'],
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1]);

      var selectedCountry = null; // Variable to store the currently selected country

      var options = {
        region: 'world',
        colorAxis: { colors: ['blue', 'green', 'yellow'] },
        backgroundColor: '#81d4fa',
        datalessRegionColor: 'white',
        defaultColor: '#f5f5f5',
        enableRegionInteractivity: true,
        tooltip: {
          isHtml: true,
          textStyle: { fontSize: 20, color: 'black', fontName: 'Arial' }, // Change font properties
          trigger: 'focus', // Use 'focus' for hover effect, 'none' for always visible
          backgroundColor: 'green', // Change background color
          opacity: 0.9, // Change tooltip opacity
          borderColor: 'crimson', // Change border color
          borderRadius: 8, // Change border radius
          showColorCode: true, // Show color code in tooltip
          showTitle: true, // Show tooltip title
          titleTextStyle: { fontSize: 16, color: 'blue', fontName: 'Arial' }, // Change title font properties
        },
      };


      var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

      function resizeChart() {
        chart.draw(view, options);
      }

      google.visualization.events.addListener(chart, 'regionClick', function (eventData) {
        var clickedRegion = eventData.region;

        if (selectedCountry === clickedRegion) {
          selectedCountry = null;
          options.region = 'world';
        } else {
          selectedCountry = clickedRegion;
          options.region = clickedRegion;
        }
        resizeChart();
      });

      if (window.addEventListener) {
        window.addEventListener('resize', resizeChart);
      } else if (window.attachEvent) {
        window.attachEvent('onresize', resizeChart);
      }

      resizeChart();
    },
    packages: ['geochart']
  });

</script>
</body>
</html>