<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlas</title>
    <link rel="stylesheet" href="./login-style.css">
</head>
<body>
    <ul class="snip1143">
        <li class="current"><a href="home" data-hover="Home">Home</a></li>
        <li><a href="tutorial" data-hover="Tutorial">Como usar</a></li>
        <li><a href="post" data-hover="Posts">Posts</a></li>
        <li><a href="login" data-hover="Login">entrar</a></li>
        <li><a href="filter" data-hover="Filtros">Buscar</a></li>
    </ul>
</body>
</html>